BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
SpacesInParentheses: true
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
